.special-service-container{
  height: 45vh;
  width: 99.13vw;
  background-image: url('../../Assets/steering.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  
}

.special-service-extra-div{
  height: 45vh;
  width: 99.1vw;
  background-color: rgba(50, 86, 164, .5);
}